/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

$main-font: 'Lato', sans-serif;

/* Colores */
$white-color: #fbfefb;
$white-background: #ebebeb;
$color_red-institucional1: #E3351F;
$color_red-institucional2: #C90B00;
$color_red-institucional3: #AA1023;

$color_yellow-institucional1: #FFDE09;
$color_yellow-institucional2: #F7B325;

$color-register: #84ce3b;

/* Medidas */
$max_width-container: 1920px;
$global-radius: 6px;