@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%boxshadow {
    -webkit-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.1);
}